[submodule "themes/zallery"]
	path = themes/zallery
	url = https://github.com/gamingrobot/zallery.git
[submodule "amazon-cloudfront-secure-static-site"]
	path = amazon-cloudfront-secure-static-site
	url = https://github.com/aws-samples/amazon-cloudfront-secure-static-site.git
